:root {
	--title-font: 'Pangolin', cursive;
	--h2-font: 'Montserrat', sans-serif;
	--paragraph-font: 'Roboto Slab', serif;
}

html,
body {
	margin: 0 auto;
	padding: 0;
}

/* HERO PAGE */

#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #b8ffd0;
	z-index: 999;
	opacity: 0.8;
}

#header-img {
	height: 100px;
}

.comp-name {
	display: block;
	width: 50px;
	font-family: var(--title-font);
	font-size: 3em;
	font-weight: bolder;
	margin: 0;
	padding-top: 30px;
	padding-left: 5px;
	color: #e00543;
	text-shadow: 2px 2px 30px #ffa1ac;
}

.nav-menu {
	display: flex;
	list-style: none;
	margin-right: 50px;
}

.push {
	margin-left: auto;
}

.menu-item {
	padding: 60px 40px 10px 40px;
}

.nav-link {
	text-decoration: none;
	font-family: var(--h2-font);
	text-transform: uppercase;
	font-weight: bolder;
}

.nav-link::before {
	content: ' ';
	display: block;
	height: 3px;
	background-color: #e00543;
	position: relative;
	bottom: 10px;
	width: 0;
	transition: all ease-in-out 250ms;
}

.nav-link:hover::before {
	width: 100%;
}

@media screen and (max-width: 800px) {
	#header-img {
		font-size: 2em;
		margin-top: 50px;
		position: static;
		margin-left: 0;
	}

	.comp-name {
		font-size: 1.5em;
		position: absolute;
		top: 0;
		left: 25px;
		margin-top: 0;
	}

	.menu-item {
		padding: 10px;
		position: relative;
		top: 90px;
		left: 45px;
		font-size: 0.85em;
		text-align: center;
	}
}

/* SECTION */

.container {
	padding: 180px 200px 50px 300px;
	background-color: #ffe6cc;
}

.grid {
	margin-bottom: 50px;
	margin-left: 200px;
	display: grid;
	grid-template-columns: 15% 500px 1fr;
	color: #233142;
	text-align: justify;
}

.icon {
	font-size: 3em;
	position: relative;
	top: 25px;
	color: #612570;
}

.desc-title {
	font-family: var(--h2-font);
}

.custom-underline {
	text-decoration: underline;
	text-underline-position: under;
	color: #c82121;
	box-shadow: inset 0 0px 0 transparent, inset 0 -2px 0 #e00543;
}

@media screen and (max-width: 1400px) {
	.container {
		padding: 180px 180px 50px 50px;
	}

	.grid {
		margin-left: 150px;
		grid-template-columns: 30% 700px 1fr;
	}

	.icon {
		font-size: 2.5em;
		left: 150px;
	}

	.desc-title {
		font-size: 1.5em;
	}

	.justify {
		font-size: 1em;
		max-width: 285px;
	}
}

@media screen and (max-width: 1000px) {
	.grid {
		margin-left: 150px;
		grid-template-columns: 30% 900px 1fr;
	}

	.icon {
		font-size: 2.3em;
		left: 90px;
	}
}

@media screen and (max-width: 800px) {
	.grid {
		margin-left: 100px;
		grid-template-columns: 30% 700px 1fr;
	}

	.icon {
		font-size: 2.1em;
		left: 20px;
	}
}

@media screen and (max-width: 500px) {
	.grid {
		margin-left: 0;
		margin-right: 15px;
		grid-template-columns: 40% 250px 1fr;
	}

	.icon {
		font-size: 2em;
		position: relative;
		top: 50px;
		left: 10px;
	}

	.desc-title {
		position: static;
		margin-top: 50px;
		margin-left: 0;
	}
}

/* SERVICE */

#service {
	margin: 40px auto;
	text-align: center;
}

/* PRICE */

#price {
	margin-top: 70px;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	max-width: 100%;
}

.cake-price {
	text-align: center;
	border: 2px solid #233142;
	margin: 0 10px;
	display: block;
	height: 250px;
	padding: 50px 5px 0 5px;
}

.cake-price h2 {
	font-family: var(--h2-font);
	color: #612570;
	font-weight: bolder;
	font-size: 1.8em;
}

.cake-price h3 {
	font-family: var(--h2-font);
	color: #e00543;
}

.justify {
	font-family: var(--paragraph-font);
	color: #233142;
}

@media screen and (max-width: 900px) {
	#price {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 25px;
	}

	.cake-price {
		padding-bottom: 25px;
	}
}

@media screen and (max-width: 500px) {
	#price {
		display: inline-block;
		margin-left: 50px;
	}
	.cake-price {
		margin: 30px 0;
		width: 200px;
	}

	.justify {
		font-size: 0.8em;
	}
}

/* ORDER FORM */

#order {
	margin-top: 120px;
	text-align: center;
}

#order h3 {
	font-family: var(--h2-font);
	color: #e00543;
	font-weight: bold;
}

#order p {
	font-family: var(--paragraph-font);
	color: #233142;
}

label {
	font-family: var(--paragraph-font);
	color: #233142;
}

.detail-row {
	margin: 5px auto;
	padding-top: 5px;
	display: grid;
	grid-auto-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 50%;
}

.left-row {
	display: block;
	text-align: left;
}

.right-row {
	height: 30px;
	border: none;
	background-color: #b8ffd0;
	box-shadow: 2px 4px 20px #e00543;
}

#submit {
	height: 40px;
	width: 100px;
	margin-top: 25px;
	font-family: var(--paragraph-font);
	font-weight: bolder;
	color: #e00543;
	background: #b8ffd0;
	box-shadow: 4px 4px 20px #233142;
	border: none;
	border-radius: 5%;
	text-transform: uppercase;
}

#submit:hover {
	color: #b8ffd0;
	background: #e00543;
	box-shadow: 4px 4px 20px #5c3b6f;
}

@media screen and (max-width: 640px) {
	#order {
		margin-top: 100px;
		margin-left: 50px;
		width: 100%;
	}

	#order h3 {
		text-align: left;
	}

	#order p {
		font-size: 0.8em;
		text-align: left;
	}
	.detail-row {
		width: 100%;
	}

	.left-row {
		font-size: 0.8em;
	}
}

/* FOOTER */

#medsoc {
	background-color: #5c3b6f;
	display: block;
	width: 100%;
	height: 85px;
	padding-top: 5px;
	padding-left: 60px;
	border: 3px solid #5c3b6f;
}

.medsoc-menu {
	list-style: none;
	display: flex;
	justify-content: center;
}

.medsoc-menu:after {
	content: '\00a9 Ayu-Adiati 2019';
	color: #ffe6cc;
	font-family: var(--paragraph-font);
	font-size: 0.8em;
	display: inline-block;
	position: relative;
	top: 45px;
	right: 255px;
}

.medsoc-item {
	margin: 0;
	padding: 0;
}

.medsoc-link {
	padding: 0 50px;
}

.medsoc-icon {
	font-size: 2em;
	color: #ffa1ac;
}

.medsoc-icon:hover {
	color: #8acbbb;
	text-shadow: 2px 2px 25px #ffa1ac;
}

@media screen and (max-width: 640px) {
	#medsoc {
		width: 100%;
		padding-left: 20px;
	}

	.medsoc-icon {
		font-size: 1.5em;
	}

	.medsoc-menu:after {
		font-size: 0.6em;
		right: 120px;
		display: inline-block;
		width: 100%;
	}
}
